$second-color:#fff;
$active-color:#fb9b2b;
$medium-display:768px;
$large-display:1440px;
$small :450px;
$color-text-primary:#fff;
@mixin radius($value) {
    border-radius: $value;
}

%center-flex-column {
    display: flex;
    justify-content: center;
    flex-flow: column;
}
