@import "text";
@import "components";
@import "final";
$primary-color:#0a1124;
html {
    font-size: 62.5%;
}

.wrapper-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.wrapper-flex,
.wrapper-checkbox {
    position: relative;
    height: 100vh;
    //background: $primary-color;
}

.wallpaper {
    position: absolute;
    bottom: 0;
    right: 15px;
    overflow: hidden;
}

.wallpaper>.wallpaper-image {
    width: 50vh;
    @media screen and (min-width: $large-display) {
        width: 70vh;
    }
}

.wrapper-btn {
    position: relative;
    @media screen and (max-width: $small) {
        margin-top: 4rem;
    }
}

.wrapper-btn-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %center-flex-column;
}
