.wrapper-btn-down {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.h3-emissao {
    font-weight: 700;
    color: #fff !important;
}

@media screen and (max-width: 450px) {
    .h3-emissao {
        max-width: 300px;
        margin: 1rem;
        font-size: 3.6rem;
    }
}

@media screen and (max-width: 768px) {
    .h3-emissao {
        margin: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .h3-emissao {
        font-size: 7rem;
        margin: 2rem;
        max-width: 300px;
    }
}

.wrapper-btn-down {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.-component-input {
    height: 5rem;
    padding: 1.5rem !important;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: all 200ms;
    box-shadow: 0px 4px 5px rgba(2, 5, 2, 0.2);
    border: none;
}

.-component-input:focus {
    box-shadow: 0px 15px 20px rgba(15, 15, 15, 0.2);
    transform: translateY(-7px);
}

@media screen and (min-width: 1440px) {
    .-component-input {
        height: 6.5rem;
    }
}

.-component-button {
    font-size: 1.5rem;
    margin: 1rem;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: 4rem;
    width: 150px;
    transition: all 250ms ease-in-out;
}

.-component-button::before {
    content: " ";
    position: absolute;
    border-radius: 30px;
    height: 4rem;
    width: 150px;
    left: 7.76%;
    border: 1px solid #fff;
}

.-component-button:hover {
    transform: translateY(-7px);
    background: #fb9b2b;
    color: #fff;
}

.-component-button:hover::before {
    border: 1px solid #fb9b2b;
}

@media screen and (max-width: 450px) {
    .-component-button {
        margin: -1.8rem 1rem 1rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .-component-button {
        margin-top: 3rem;
    }
    .-component-button::before {
        left: 5%;
    }
}

@media screen and (min-width: 1440px) {
    .-component-button {
        height: 5rem;
        width: 200px;
    }
    .-component-button::before {
        left: 3%;
        height: 5rem;
        width: 200px;
    }
}

.popup-alert {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    max-width: 400px;
    width: 50%;
}

.--invisible {
    display: none;
    transition: all 200s;
}

.wrapper-close-btn {
    position: relative;
    width: 100%;
}

.btn-close {
    position: relative;
    float: right;
}

.-button-down {
    animation: blink-button 2s ease-in-out infinite;
}

@keyframes blink-button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wrapper-btn-down {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.-component-input {
    height: 5rem;
    padding: 1.5rem !important;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: all 200ms;
    box-shadow: 0px 4px 5px rgba(2, 5, 2, 0.2);
    border: none;
}

.-component-input:focus {
    box-shadow: 0px 15px 20px rgba(15, 15, 15, 0.2);
    transform: translateY(-7px);
}

@media screen and (min-width: 1440px) {
    .-component-input {
        height: 6.5rem;
    }
}

.-component-button {
    font-size: 1.5rem;
    margin: 1rem;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: 4rem;
    width: 150px;
    transition: all 250ms ease-in-out;
}

.-component-button::before {
    content: " ";
    position: absolute;
    border-radius: 30px;
    height: 4rem;
    width: 150px;
    left: 7.76%;
    border: 1px solid #fff;
}

.-component-button:hover {
    transform: translateY(-7px);
    background: #fb9b2b;
    color: #fff;
}

.-component-button:hover::before {
    border: 1px solid #fb9b2b;
}

@media screen and (max-width: 450px) {
    .-component-button {
        margin: -1.8rem 1rem 1rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .-component-button {
        margin-top: 3rem;
    }
    .-component-button::before {
        left: 5%;
    }
}

@media screen and (min-width: 1440px) {
    .-component-button {
        height: 5rem;
        width: 200px;
    }
    .-component-button::before {
        left: 3%;
        height: 5rem;
        width: 200px;
    }
}

html {
    font-size: 62.5%;
}

.wrapper-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.wrapper-flex,
.wrapper-checkbox {
    position: relative;
    height: 100vh;
}

.wallpaper {
    position: absolute;
    bottom: 0;
    right: 15px;
    overflow: hidden;
}

.wallpaper>.wallpaper-image {
    width: 50vh;
}

@media screen and (min-width: 1440px) {
    .wallpaper>.wallpaper-image {
        width: 70vh;
    }
}

.wrapper-btn {
    position: relative;
}

@media screen and (max-width: 450px) {
    .wrapper-btn {
        margin-top: 4rem;
    }
}

.wrapper-btn-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*# sourceMappingURL=final.css.map */
